<ion-view view-title="도움말" hide-back-button="true">
  <ion-nav-bar class="bar-calm" align-title="center">
    <ion-nav-buttons side="left">
      <a class="button button-clear button-icon icon ion-chevron-left" ui-sref="app.home"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
  <style media="screen">
    #manager {
      background-color: #EBFBFF;
      border-left: 4px solid #3296FF;
      margin-top:20px;
    }
    #video {
      background-color: #EBFBFF;
      border-left: 4px solid #2ABCB4;
      margin-top:10px;
    }
    #map {
      background-color: #EBFBFF;
      border-left: 4px solid #3296FF;
      margin-top:10px;
    }
    #training {
      background-color: #EBFBFF;
      border-left: 4px solid #2ABCB4;
      margin-top:10px;
    }
    ul {
      list-style: none;
    }
    .memo {
      padding: 2px;
    }
    strong {
      font-size: 15px;
    }
  </style>

  <div id="manager" class="memo">
    <p>
      <strong>내 신체관리</strong><br>
      <ul>
        <li>내 몸무게와 키를 꾸준히 입력하여 현재 비만도를 알려줍니다.</li>
        <li>몸무게와 비만도 변화를 그래프로 볼 수 있습니다.</li>
      </ul>
    </p>
  </div>
  <div id="video" class="memo">
    <p>
      <strong>운동 영상</strong><br>
      <ul>
        <li>내가 원하는 신체부위의 운동영상을 볼 수 있습니다.</li>
      </ul>
    </p>
  </div>
  <div id="map" class="memo">
    <p>
      <strong>헬스장 구조도</strong><br>
      <ul>
        <li>내가 원하는 운동기구의 위치와 헬스장의 구조를 알 수 있습니다.</li>
      </ul>
    </p>
  </div>
  <div id="training" class="memo">
    <p>
      <strong>운동 트레이닝</strong><br>
      <ul>
        <li>센서가 내 몸의 움직임을 인식하여 영상 속의 트레이너와 호흡을 맞추며 운동할 수 있습니다.</li>
      </ul>
    </p>
  </div>
  </ion-content>
</ion-view>
