<ion-view view-title="Login" hide-back-button="true" class="login_image">
  <ion-nav-bar class="bar-calm" align-title="center">
  </ion-nav-bar>
<ion-nav-view></ion-nav-view>

  <ion-content class>
    <div font-weight:400; class="login-title">머신 휘트니스</div>
    <div class="login-subtitle">웹페이지를 통해 회원님의 몸과 건강을 체계적으로 관리하세요.</div>
    <form class="form-login">
      <h2 class="form-login-heading">회원 로그인</h2>

      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="User ID">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Password">
        </label>


		    <label class="checkbox">
		      <div align="center">
		        <a data-toggle="modal" > 비밀번호를 잊으셨나요?</a>
		      </div>
		    </label>
        <br>


        <div class="row">
         <div class="col text-center">
          <button class="button button-sign"><i class="icon ion-locked"></i> SIGN IN</button>
		      <hr>

    		    <div class="login-social-link centered">
    		      <p>소셜계정으로도 로그인 하실 수 있습니다.</p>
    		      <button class="button button-facebook" ng-click="login()"><i class="icon ion-social-facebook"></i> Facebook</button>
    		      <button class="button button-google"><i class="icon ion-social-googleplus"></i> Google</button>
    		    </div>

    		    <div class="registration">
    		      회원이 아니세요?<br/>
    		      <a class="" href="#">
    		        지금 바로 회원가입 하세요.
    		      </a>
    		    </div>
    		  </div>
        </div>
   </div>
    </form>
  </ion-content>
</ion-view>
