<ion-view view-title="내 신체관리" hide-back-button="true">
  <ion-nav-bar class="bar-calm" align-title="center">
    <ion-nav-buttons side="left">
      <a class="button button-clear button-icon icon ion-chevron-left" ui-sref="app.home"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">키</span>
        <input type="text" placeholder="키">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">몸무게</span>
        <input type="text" placeholder="몸무게">
      </label>

      <button class="button button-block button-positive" >Submit</button>
    </div>
  </ion-content>
</ion-view>
