<ion-view view-title="Input">
  <ion-content class="has-header" padding="true">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Sid" ng-model="video_input.sid">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="video_input.title">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Url" ng-model="video_input.url">
      </label>
      <button class="button button-block button-positive" ng-click = "video_fireadd(video_input)">Input</button>
    </div>
  </ion-content>
</ion-view>
